/**Personal note: z-index is like layer (higher, means more in front)*/
canvas{
  background-color: none;
  position:absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}
canvas#ui{
  z-index: 2;
}