body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2rem;
    background-color: #2f2f2f;
    color: aliceblue;

    text-align: center;
}

.selected {
    outline: 1px outset red;
    font-size: 3rem;
    display: grid;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

td {
    margin-left: 10px;
    margin-right: 10px;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    background: none;
    border: none;
    outline: none;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2rem;
}

b {
    background: -webkit-linear-gradient(45deg, rgb(68, 201, 90), rgb(186, 196, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.notes>p {
    font-size: 1rem;
    color: #c7c7c7;
}